/* Centers heading  */

h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 0px;
    color: #DD0000;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
}

/* main navBar for page */

nav {
    display: flex;
    justify-content: flex-start;
}

nav ul {
display: flex;
justify-content: space-around;
flex-flow: column wrap;
list-style: none;  
align-items: stretch;
align-content: space-between;
flex-grow: 1;
background-image: url(img/nav-background.jpg);
background-repeat: no-repeat;
background-size: 200px 100%;
margin-top: 0px;
margin-bottom: 0px;
}

/* Fixes nav bar to left side of page  */

.navBar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-size: 30px;
}

/* centers text in li */

.navBar ul li:not(.scroll) {
    text-align: center;
    padding: 0px;
    display: inline;
}

/* give the red text color before hover */

.navBar ul li a {
    text-decoration: none;
    color: red;
    margin: 0px;
    font-weight: bold;
}

/* add hover effect */

.hover:hover {
    background-color: black;
    color: #FFCE00;
}

/* pushes  rest of doc outside of navbar to fit the remainder of the scree and includes the background*/
html {
    margin-left: 200px;
    margin-right: 2px;
    padding: 0; 
    background: url("https://d27t0qkxhe4r68.cloudfront.net/sm/t/300/ISBN9780757914850.jpg?1549535928");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    background-position: center;
}
/* makes the body wrap for mobile applications */
body {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin-left: 200px; */
}

section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    background: rgba(128, 128, 128, .5);
    font-size: 22px;        
    /* width: 100%; */
}

main {
    /* margin-left: 200px; */
}

/* adjusting the Main Picture to the center */

.mainPic {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: small;
    flex-shrink: inherit;
    opacity: 0.85;
    
}

figcaption {
    font-size: small;
    align-items: center;
}

/* changing the border picture radius */
.bhpic {
    border-radius: 35%;
}
/* needed to reverse row to show picture first */
.residence {
    display: flex;
    flex-direction: row-reverse;
}
/* covers all the h2 elements */
h2 {
    display: flex;
    justify-content: flex-start;
    text-decoration-line: underline;
}
/* covers the paragraphs on the main page */
p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
/* this includes the images sizing for footer */

footer{
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("img/sheetmusicbackground2.jpg");
    /* background-size: cover; */
    min-height: 100px;
    margin-left: 200px;
    width: 100%;
    bottom: 0;
}

footer a {
    display: flex;
}

footer a img {
    height: 50px;
    width: 50px;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?8ap8mh');
    src:  url('fonts/icomoon.eot?8ap8mh#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?8ap8mh') format('truetype'),
      url('fonts/icomoon.woff?8ap8mh') format('woff'),
      url('fonts/icomoon.svg?8ap8mh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-spotify:before {
    content: "\ea94";
    font-size: 50px;
    color: #84bd00;
    text-decoration: none;
  }
  .icon-wikipedia:before {
    content: "\eac8";
    font-size: 50px;
    color: blue;
  }