body {
    display: flex; 
    flex-flow: column wrap;
    justify-content: flex-start;
}

/* Centers heading  */

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-direction: row; 
    margin-left: 100px;
    flex-wrap: wrap;
}

/* main navBar for page */

nav {
    display: flex;
    justify-content: flex-start;
}

nav ul {
display: flex;
justify-content: space-around;
flex-flow: column wrap;
list-style: none;  
align-items: stretch;
align-content: space-between;
flex-grow: 1;
background-image: url(img/nav-background.jpg);
background-repeat: no-repeat;
background-size: 160px 100%;
margin-top: 0px;
margin-bottom: 0px;
}

/* Fixes nav bar to left side of page  */

.navBar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    font-size: 25px;
    flex-grow: 1;
    flex-shrink: 1;
}

/* centers text in li */

.navBar ul li:not(.scroll) {
    text-align: center;
    padding: 0px;
    display: inline;
}

/* give the red text color before hover */

.navBar ul li a {
    text-decoration: none;
    color: red;
    margin: 0px;
    font-weight: bold;
}

/* add hover effect */

.hover:hover {
    background-color: black;
    color: #FFCE00;
}

/* pushes main body so it's not behind nav bar */

main {
    display: flex;
    flex-flow: column wrap;
    margin-left: 160px;
}

/* Don't mess with code above this! ONLY FOR NAVBAR */
/* Don't mess with code above this! ONLY FOR NAVBAR */
/* Don't mess with code above this! ONLY FOR NAVBAR */
/* Don't mess with code above this! ONLY FOR NAVBAR */
/* Don't mess with code above this! ONLY FOR NAVBAR */
/* Don't mess with code above this! ONLY FOR NAVBAR */
/* Don't mess with code above this! ONLY FOR NAVBAR */

html {
    background-color: #EBEBEB; 
}


/* This centers the h2 */

h2 {
    display: flex;
    justify-content: center;
    margin-left: 75px;
    flex-wrap: wrap;
    color: black;
    text-decoration: underline #DD0000;
}

/* This puts the birth and death sections in a row, not a column  and gives a margin top and bottom*/

.birth-death {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    margin-bottom: 20px; 
    justify-content: center;
    margin-left: 75px;
    border-radius: 100%
}

/* this adds column flex and spacing to birth/death ul */

.birth-death ul {
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: center;
    border: black 2px inset;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EBEBEB;
    
}

/* birth-death h3's */

article.birth-death {
    background-color: #FFCE00;
}

/* centers h3 */

.birth-death h3 {
    display: flex;
    justify-content: center;
}

h3 {
    color: #DD0000;
    text-decoration: underline black;
}

/* removes list decorations for the birth and death sections and adds flex*/

.birth-death ul li {
    display: flex;
    flex-flow:  row wrap;
    list-style: none;
    margin-bottom: 10px;
}

/* centers family ul  and gives margin top/bottom */

.family-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
}

/* centers h3 with flex */

.family-list h3 {
    display: flex;
    justify-content: space-around;
    color: black;
    text-decoration: underline #DD0000;
}

/* puts the relationships list in a row */

.family-list ul {
    display: flex;
    flex-flow: row wrap;
    border: gray inset 2px;
    border-radius: 5px;
    background-color: black;
}

/* takes the list styling off and also adds margin */

.family-list ul li {
    display: flex;
    list-style: none;
    margin-right: 15px;
    text-decoration: underline;
}

/* removes the family relationships anchor decorations */

.family-list ul li a {
    text-decoration: none;
    color: #FFCE00;
}

.family-list ul li a:hover {
    background: #FFCE00;
    color: #DD0000;
}

/* edits the sections for the people's sections */

.peeps {
    background-color: #FFCE00;
    padding-left: 10px;
    margin-bottom: 10px; 
    color: black;
    border: #DD0000 1px solid;
    border-radius: 30px;
    max-width: 1062px;
    padding-right: 15px;
}

/* edits the h3's for the relationships section */

.peeps h3 {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: underline #DD0000;
}

/* edits the dates for the people */

.peeps h5 {
    display: flex;
    justify-content: center;
    color: #DD0000;
    text-decoration: underline black;
}

firstletter {
    color: black;
}


/* puts img on right side */

.peeps figure {
    display: flex;
    justify-content: center;
}

.peeps div {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
}

/* my poor attempt to use flex to keep text on screen */

.peeps div p {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.size {
    width: 250px;
    height: 250px;
}

.position {
    display: flex;
    align-self: auto;
}

/* Assigns map for birthplace */

.background {
    background-image: url(img/bonn.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 75% 50%;
    margin-left: 75px;
}

section.background {
    text-align: center;
    height: 400px;
    width: 100%;
    color: white;
  }

  section.background p {
      background-color: black;
      height: 20px;
  }

  
